$ae-paper-primary-color: #FFFFFF !default;
$ae-paper-secondary-color: #444444 !default;
$ae-paper-highlight-color: #BBBBBB !default;

$ae-paper-border-style: $ae-default-border-style !default;
$ae-paper-border-color: $ae-paper-secondary-color !default;
$ae-paper-background: $ae-paper-primary-color !default;
$ae-paper-color: $ae-paper-secondary-color !default;

$ae-button-paper-background-color: $ae-paper-primary-color !default;
$ae-button-paper-color: $ae-paper-secondary-color !default;
$ae-button-paper-border-color: $ae-paper-secondary-color !default;
$ae-button-paper-border-style: $ae-default-border-style !default;

$ae-button-paper-hover-background-color: $ae-paper-secondary-color !default;
$ae-button-paper-hover-color: $ae-paper-primary-color !default;
$ae-button-paper-hover-border-color: $ae-paper-secondary-color !default;

$ae-input-paper-background-color: $ae-paper-primary-color !default;
$ae-input-paper-color: $ae-paper-secondary-color !default;
$ae-input-paper-border-color: $ae-paper-secondary-color !default;
$ae-input-paper-border-style: $ae-button-paper-border-style !default;

$ae-input-paper-focus-border-color: $ae-paper-secondary-color !default;

// menu
$ae-menu-paper-background-color: $ae-paper-primary-color !default;
$ae-menu-paper-opacity: $ae-menu-opacity !default;

$ae-menu-text-paper-font-family: $ae-menu-text-font-family !default;
$ae-menu-text-paper-color: $ae-paper-secondary-color !default;

$ae-menu-option-paper-font-weight: $ae-menu-option-font-weight !default;
$ae-menu-option-paper-font-family: $ae-menu-option-font-family !default;

// text
$ae-text-paper-opacity: $ae-text-opacity !default;
$ae-text-paper-font-family: $ae-text-font-family !default;
$ae-text-caption-paper-font-family: $ae-text-caption-font-family !default;
$ae-text-caption-paper-font-weight: $ae-text-caption-font-weight !default;
